[atom-text],
[atom-text]:hover {
      &.glow-crimson,
      &.glow-ember {
            color: #fff5f6;
            text-shadow: 0 0 2px #000, 0 0 10px #fc1f2cff, 0 0 5px #fc1f2cff,
                  0 0 25px #fc1f2cff;
      }

      &.glow-fuchsia,
      &.glow-cyberpink {
            color: #ff00b7;
            text-shadow: 0 0 2px #100c0f, 0 0 5px #dc078e33, 0 0 10px #dc078e;
      }

      &.glow-amber,
      &.glow-sunfire {
            color: #f4eee4;
            text-shadow: 0 0 2px #393a33, 0 0 8px #f39f05ff, 0 0 2px #f39f05ff;
      }

      &.glow-jade,
      &.glow-seafoam {
            color: #42ff9e;
            text-shadow: 0 0 2px #100c0f, 0 0 10px #257c5572, 0 0 35px #21272472;
      }

      &.glow-amethyst,
      &.glow-arcane {
            color: #f2e0ff;
            text-shadow: 0 0 2px #000000, 0 0 5px #9500ff, 0 0 10px #9500ff;
      }

      &.glow-cyan,
      &.glow-hologram {
            color: #fdfdfd;
            text-shadow: 0 0 2px #001716, 0 0 8px #03edf9cf, 0 0 6px #03edf9cf;
      }

      &.glow-frost,
      &.glow-celeste {
            color: #d3edff;
            text-shadow: 0 0 2px #03b8ff, 0 0 8px #008cff72, 0 0 6px #006eff9c;
      }

      &.glow-quartz,
      &.glow-aura {
            color: #ffe2fd;
            text-shadow: 0 0 2px #f805ec, 0 0 8px #f3059072, 0 0 6px #f305b8a9;
      }

      &.glow-emerald,
      &.glow-matrix {
            color: #e4f4e4;
            text-shadow: 0 0 2px #333a35, 0 0 8px #05f32d, 0 0 2px #05f311;
      }
      backface-visibility: hidden;
}
