[about] {
      .glowing-elements {
            position: absolute;
            inset: 0;
            pointer-events: none;
            z-index: -1;
      }
      .glow-1 {
            background: radial-gradient(
                  circle at center,
                  #00ffaaa0 0%,
                  rgba(0, 255, 170, 0) 70%
            );
            filter: blur(55px);
            width: 200px;
            height: 200px;
      }
      .glow-2 {
            background: radial-gradient(
                  circle,
                  #fff 0%,
                  #df4488 5%,
                  rgba(100, 0, 50, 0.4) 30%,
                  transparent 60%
            );

            width: 500px;
            height: 500px;
            filter: blur(35px) brightness(1.45);
      }
      .glow-3 {
            background: radial-gradient(
                  circle,
                  #fff 0%,
                  #3338c7 5%,
                  rgba(23, 0, 100, 0.4) 30%,
                  transparent 60%
            );
            width: 500px;
            height: 500px;
            filter: blur(55px) brightness(1.45);
      }
      .glow-1,
      .glow-2,
      .glow-3 {
            position: absolute;
            border-radius: 50%;
            opacity: 1;
      }

      .glow-1 {
            top: -20px;
            left: -20px;
      }
      .glow-2 {
            top: 50%;
            right: -300px;
            transform: translateY(-50%);
      }
      .glow-3 {
            bottom: -160px;
            left: 10%;
      }
}
