[works]{
.glowing-elements {
            position: absolute;
            inset: 0;
            pointer-events: none;
            z-index: -1;
      }
      .glow-1 {
            background: radial-gradient(
                  circle at center,
                  #00ffaaa0 0%,
                  rgba(0, 255, 170, 0) 70%
            );
            filter: blur(55px);
            width: 200px;
            height: 200px;
      }
      .glow-2 {
            background-image: url("https://github.com/ramirezherreranoeelvis/images/blob/master/purple.png?raw=true");
            background-size: cover;

            width: 400px;
            height: 400px;
            filter: blur(35px) brightness(1.45);
      }
      .glow-3 {
            background-image: url("https://github.com/ramirezherreranoeelvis/images/blob/master/blue.png?raw=true");
            background-size: cover;
            width: 300px;
            height: 300px;
            filter: blur(55px) brightness(1.45);
      }
      .glow-1,
      .glow-2,
      .glow-3 {
            position: absolute;
            border-radius: 50%;
            opacity: 1;
      }

      .glow-1 {
            top: -20px;
            left: -20px;
      }
      .glow-2 {
            top: 50%;
            right: -300px;
            transform: translateY(-50%);
      }
      .glow-3 {
            bottom: -40px;
            left: 30%;
      }
}