.title {
        background-image: linear-gradient(270deg, #0885FB, #dd98ff 25%, #0885FB 50%, #dd98ff 75%, #0885FB);
        font-size: 56px;
        line-height: 1.2;
        background-size: 200% 100%;
        font-weight: 700;
        animation: text-gradient-animation 6s ease-in-out infinite;

}