<div class="size-full flex items-center">
      <div class="panel flex gap-28 items-center mx-24 px-12 py-14">
            <div class="w-[382.38px]">
                  <img
                  src="assets/images/about-me/PandaEncontrado.png"
                  alt="profile"
                  class="rounded-full"
            />
            </div>
            <div class="font-[CabinSketch] text-4xl w-[589px]">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem an unknown printer took a galley
                  of type and scrambled it 
            </div>
      </div>
</div>
