@import "tailwindcss";
.about {
      @apply size-full flex items-center;
      .panel {
            @apply flex w-[90%] gap-[5%] px-12 py-14 items-center justify-center min-w-[800px];
            .pfp {
                  @apply w-[30%];
                  img {
                        @apply rounded-full;
                  }
            }
            .text {
                  @apply inline-block font-[CabinSketch] text-4xl w-[70%] text-center;
            }
      }
      @media (width<1330px) {
            .panel .text {
                  font-size: 26px;
            }
      }
      @media (width<1090px) {
            justify-content: center;
            .panel {
                  @apply flex-col w-[90%] gap-[40px] min-w-[100px] h-[90%];

                  .text {
                        width: 100%;
                  }
                  .pfp {
                        width: 50%;
                  }
            }
      }
      @media (width<600px) {
            .panel .text {
                  font-size: 22px;
            }
      }

      @media (width<380px) {
            .panel .text {
                  font-size: 12px;
            }
      }
}
