<div class="about">
      <div class="panel">
            <div class="pfp">
                  <img src="/images/about-me/Panda.webp" alt="profile" />
            </div>
            <div class="text">
                  Soy un estudiante de Ingeniería de sistemas, me apasiona la
                  tecnología y la programación especialmente Angular y Spring
                  boot. Así como las metodologías y marcos de gestión de
                  proyectos como Scrum. Además del uso de herramientas diseño
                  como Figma y Blender y Cisco Packet Tracer
            </div>
      </div>
</div>
