@import "tailwindcss";
[page] {
      @apply grid;
      grid-template-areas: "title title" "navegation content" "footer footer";
      grid-template-rows: 1fr 6fr 1fr;
      grid-template-columns: 0.1fr 1fr;
      header {
            grid-area: title;
            @apply flex items-end justify-center;
            h1 {
                  @apply font-[RubikDoodleShadow] text-8xl font-bold text-center;
                  line-height: 1;
                  background-image: linear-gradient(
                        270deg,
                        #0004ff,
                        #ff006f 25%,
                        #3700ff 50%,
                        #ff006f 75%,
                        #3700ff 90%
                  );
                  background-size: 200% 100%;
                  animation: text-gradient-animation 6s ease-in-out infinite;
            }
      }
      hamburger-menu,
      .navegation-modal {
            @apply hidden;
      }

      navegation {
            grid-area: navegation;
            @apply flex justify-center items-center;
      }
      .content {
            grid-area: content;
            overflow: hidden;
      }
      footer {
            grid-area: footer;
            @apply flex justify-center items-center flex-col gap-4;
            @apply bg-[#13121a] text-sky-50;
            .contact {
                  @apply flex gap-6;
            }
            a-icon {
                  @apply inline-block bg-amber-50 text-[black] rounded-full px-[10px] text-[30px];
            }
      }

      @media (width<1334px) {
            grid-template-rows: 0.7fr 6fr 1fr;
            header h1 {
                  font-size: 64px;
            }
      }
      @media (width<900px) {
            grid-template-areas: "title" "content" "footer";
            grid-template-rows: 1fr 6fr 1fr;
            grid-template-columns: 1fr;
            hamburger-menu {
                  @apply inline-block fixed left-2 top-2 scale-50 z-30;
            }
            .navegation-modal.active {
                  @apply inline-block fixed size-full z-20;
            }
            navegation {
                  @apply hidden;
            }
            header h1 {
                  @apply text-[42px] max-w-[450px];
            }
            footer {
                  @apply gap-2 text-[12px];
                  a-icon {
                        @apply scale-[.7];
                  }
            }
      }

      @media (width<485px) {
            hamburger-menu {
                  @apply scale-[.35] left-0.5 top-0.5;
            }
      }
}
