<section page>
      <hamburger-menu (clickMenu)="openModal()" />
      <div #modalNavegation class="navegation-modal">
            <navegation-modal [urls]="urls" />
      </div>
      <header>
            <h1 class="gradient">Ramírez Herrera Noé Elvis</h1>
      </header>
      <navegation
            [urls]="urls"
            className="flex flex-col gap-[20px] px-[20px] w-[272px] h-[370px]"
            classNameUrl="bg-[#a387f91a] flex justify-center items-center rounded-[40px]"
      />
      <div class="content">
            <router-outlet />
      </div>
      <footer>
            <p>2023 Ramírez Herrera Noé Elvis</p>
      </footer>
</section>
