@import "tailwindcss";
[page] {
      @apply grid;
      grid-template-areas: "title title" "navegation content" "footer footer";
      grid-template-rows: 1.3fr 7fr 1.3fr;
      grid-template-columns: 0.1fr 1fr;
      header {
            grid-area: title;
            @apply flex items-end justify-center overflow-hidden;
            h1 {
                  @apply font-[RubikDoodleShadow] text-[120px] font-bold text-center;
                  line-height: 1;
                  background-image: linear-gradient(
                        270deg,
                        #0004ff,
                        #ff006f 25%,
                        #3700ff 50%,
                        #ff006f 75%,
                        #3700ff 90%
                  );
                  background-size: 200% 100%;
                  animation: text-gradient-animation 6s ease-in-out infinite;
            }
      }
      hamburger-menu {
            @apply hidden;
      }
      .navegation-modal {
            @apply hidden;
      }
      navegation {
            grid-area: navegation;
            @apply flex justify-center items-center;
      }
      .content {
            grid-area: content;
      }
      footer {
            grid-area: footer;
            @apply flex justify-center items-center flex-col gap-4;
            @apply bg-[#13121a] text-sky-50;
            .contact {
                  @apply flex gap-6;
            }
            a-icon {
                  @apply inline-block bg-amber-50 text-[black] rounded-full px-[10px] text-[30px];
            }
      }
      @media (width<1664px) {
            grid-template-rows: 0.8fr 4.5fr 1fr;
            header {
                  h1 {
                        @apply text-8xl;
                  }
            }
      }
      @media (width<1334px) {
            grid-template-rows: 0.6fr 4.5fr 1fr;
            header {
                  h1 {
                        @apply text-7xl;
                  }
            }
      }
      @media (width<1000px) {
            grid-template-areas: "title" "content" "footer";
            grid-template-rows: 1fr 4.5fr 1fr;
            grid-template-columns: 1fr;
            hamburger-menu {
                  @apply inline-block fixed left-2.5 top-2.5 scale-75 z-30;
            }
            .navegation-modal.active {
                  @apply inline-block fixed size-full z-20;
            }
            navegation {
                  @apply hidden;
            }
            header {
                  h1 {
                        @apply text-[64px] max-w-[600px];
                  }
            }
      }
      @media (width<780px) {
            grid-template-rows: 0.8fr 5fr 0.8fr;
            hamburger-menu {
                  @apply scale-50;
            }
            header {
                  h1 {
                        @apply text-[50px] max-w-[550px];
                  }
            }
      }

      @media (width<740px) {
            grid-template-rows: 0.7fr 5fr 0.8fr;
            hamburger-menu {
                  @apply scale-[.4];
            }
            header {
                  h1 {
                        @apply text-[35px] max-w-[400px];
                  }
            }
      }
      @media (width<500px) {
            grid-template-rows: 0.5fr 5fr 0.8fr;
            hamburger-menu {
                  @apply scale-[.3];
            }
            header {
                  h1 {
                        @apply text-[25px] max-w-[240px];
                  }
            }
      }
}
