<div class="size-full flex items-center">
      <div class="panel mx-10">
            <div class="options">
                  <img src="/images/skills/angular.ico" alt="angular" />
                  <img
                        src="/images/skills/spring_boot.webp"
                        alt="spring_boot"
                  />
                  <img src="/images/skills/react.webp" alt="react" />
                  <img src="/images/skills/node.webp" alt="node" />
                  <img src="/images/skills/bbdd.webp" alt="mysql" />
            </div>
            <div class="proyects">
                  @for (img of proyects; track $index) {
                        <card-proyect [imgUrl]="img" />
                  }
            </div>
      </div>
</div>
