@import "tailwindcss";
div {
      @apply box-border;
      background: radial-gradient(
            50% 50% at 50% 50%,
            rgba(7, 31, 126, 0.061) 0%,
            rgba(132, 0, 255, 0.1) 100%
      );
      border: 4px solid #000dff;
      box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.16);
      border-radius: 12px;
}
